.Image-Grid{
    background-color: white;
    height: auto;
    box-sizing: border-box;
    position: relative;
  
  
}

.img{
    margin: 0 auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.content {
    position: fixed; /* Position the background text */
    top: 25%; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    
}
.img-text{
    text-align: center;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    color: white;
    
} 