




.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 470px;
   
}

.title{
    display:flex;
    text-transform: uppercase;
    margin-top: 270px;
    margin-left: 70px;
    color: #33691e;
   
}
.sub-title {
    width: 50%;
    display: block;
    text-align: center;
    margin-left:70px;
    color: #33691e;
    }
    